h1,
h2 {
  text-align: center;
  font-family: rockwell;
  padding: 10px;
  margin-bottom: 50px;

}

#header {
  background-image: url('../img/myheader.jpg');
  color: white;
  background-size: cover;
  width: 100%;
  text-align: center;
  margin-bottom: 90px;
  height: 30%;

}
nav a{
  color:white;
}



nav li {
  display: inline;
}

a {
  padding: 8px;
  text-decoration: none;
  color: black;
  font-weight: bold;

}
.erste{
margin-top:10px;
text-align: center;
}
h3{
  font-family: rockwell;
  font-size: 30px;
}
.zweite{
  text-align: center;
}
.zeit{
  text-align: center;
}
.mytable{
  margin-left: auto;
  margin-right: auto;
}
html{
  background: linear-gradient(
    grey 20%,
    white 80%
  );
}

